<%- include('partials/header.ejs') %>

  <body>
    <!--Hero Image-->
    <div class="jumbotron">
      <h1 class="display-4">COVID19-Dashboard</h1>
      <p class="lead">This is placeholder text for our capstone project.</p>
      <hr class="my-4">
      <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Login</a>
      </p>
    </div>
    <!-- Warning Area -->
    <div class="container">
      <div id="warning-area">
        <% if(typeof loginError !="undefined" && loginError) { %>
          <div class="alert alert-success" role="alert">
            <%-message%>
          </div>
          <% } %>
      </div>
    </div>
    <!--Introduction/Mission Statement-->
    <div class="section-bg">
      <div id="mission-statement" class="container section-bg">
        <h2 class="text-center">Introduction</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec iaculis dolor mauris, non lobortis ex lacinia
            id. Aliquam et arcu
            sit amet magna eleifend iaculis ornare quis risus. Donec sit amet tortor dolor. Fusce sollicitudin gravida
            pretium. Donec sollicitudin tempor commodo.
            Suspendisse tortor augue, ultrices elementum sodales ut, lobortis ut augue. Nullam non purus ligula. Phasellus
            nec luctus dui, id malesuada orci. Nam sapien
            massa, egestas et vestibulum eget, ornare sed felis. Integer porta velit eget sapien vestibulum dignissim. Sed
            id gravida mauris. Vestibulum vitae finibus erat.
            Fusce ornare turpis risus, vitae lacinia eros blandit a. Phasellus aliquam quam eu felis viverra auctor in
            aliquam risus. Proin ornare interdum quam, ut dignissim
            quam molestie vitae. Vivamus gravida tempor molestie.</p>
      </div>
    </div>
    <!--Focus Areas of Site-->
    <div id="focus-areas" class="container">
      <h2 class="text-center">Focus Areas</h2>
      <div class="row fp-card-row">
        <div class="col fp-card text-center">
          <span class="fa-stack fa-2x">
            <i class="fas fa-circle fa-stack-2x"></i>
            <i class="fas fa-database fa-stack-1x fa-inverse"></i>
          </span>
          <h2 class="text-center">Statistics</h2>
          <p>View Statistics for local and US</p>
          <p><a class="btn btn-secondary" href="/statistics" role="button">View Statistics &raquo;</a></p>
        </div><!-- /.col-lg-6 -->
        <div class="col fp-card text-center">
          <span class="fa-stack fa-2x">
            <i class="fas fa-circle fa-stack-2x"></i>
            <i class="fas fa-syringe fa-stack-1x fa-inverse"></i>
          </span>
          <h2 class="text-center">Vaccinations</h2>
          <p>View resources for vaccinations</p>
          <p><a class="btn btn-secondary" href="/vaccinations" role="button">View Vaccinations &raquo;</a></p>
        </div><!-- /.col-lg-6 -->
      </div>
      <div class="row fp-card-row">
        <div class="col-6 fp-card text-center">
          <span class="fa-stack fa-2x">
            <i class="fas fa-circle fa-stack-2x"></i>
            <i class="fas fa-newspaper fa-stack-1x fa-inverse"></i>
          </span>
          <h2>News</h2>
          <p>View latest COVID-19 articles</p>
          <p><a class="btn btn-secondary text-center" href="/news" role="button">View News &raquo;</a></p>
        </div><!-- /.col-lg-6 -->
        <div class="col-6 fp-card text-center">
          <span class="fa-stack fa-2x">
            <i class="fas fa-circle fa-stack-2x"></i>
            <i class="fas fa-question fa-stack-1x fa-inverse"></i>
          </span>
          <h2>FAQ</h2>
          <p>View Frequently Asked Questions</p>
          <p><a class="btn btn-secondary" href="/faq" role="button">View FAQ &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div>
    </div>
    <!--Current Statistics-->
    <div class="section-bg">
      <div class="container">
        <h2 class="text-center">Current Statistics</h2>
        <div class="row">
          <div class="col-6 text-center">
            <p>Daily Confirmed Cases: <%= dailyConfirmedCases %>
          </div>
          <div class="col-6 text-center">
            <p>Daily Confirmed Deaths: <%= dailyDeaths %>
          </div>
        </div>
        <div class="row">
          <div class="col-6 text-center">
            <p>Total Confirmed Cases: <%= totalConfirmedCases %>
          </div>
          <div class="col-6 text-center">
            <p>Total Deaths: <%= totalDeaths %>
          </div>
        </div>
        <p class="text-center">Data from <%= currentDate %></p>
      </div>
    </div>

    <%- include('partials/footer.ejs') %>
  </body>

  </html