<%- include('partials/header.ejs') %>

  <body>
    <!--Hero Image-->
    <div class="jumbotron">
      <h1 class="display-4">COVID19-Dashboard</h1>
      <p class="lead">This is placeholder text for our capstone project.</p>
      <hr class="my-4">
      <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Login</a>
      </p>
    </div>
    <!-- Warning Area -->
    <div class="container">
      <div id="warning-area">
        <% if(typeof loginError !="undefined" && loginError) { %>
          <div class="alert alert-success" role="alert">
            <%-message%>
          </div>
          <% } %>
      </div>
    </div>
    <!--Introduction/Mission Statement-->
    <div class="section-bg section">
      <div id="mission-statement" class="container section-bg">
        <h2 class="text-center">Mission Statement</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec iaculis dolor mauris, non lobortis ex lacinia
            id. Aliquam et arcu
            sit amet magna eleifend iaculis ornare quis risus. Donec sit amet tortor dolor. Fusce sollicitudin gravida
            pretium. Donec sollicitudin tempor commodo.
            Suspendisse tortor augue, ultrices elementum sodales ut, lobortis ut augue. Nullam non purus ligula. Phasellus
            nec luctus dui, id malesuada orci. Nam sapien
            massa, egestas et vestibulum eget, ornare sed felis. Integer porta velit eget sapien vestibulum dignissim. Sed
            id gravida mauris. Vestibulum vitae finibus erat.
            Fusce ornare turpis risus, vitae lacinia eros blandit a. Phasellus aliquam quam eu felis viverra auctor in
            aliquam risus. Proin ornare interdum quam, ut dignissim
            quam molestie vitae. Vivamus gravida tempor molestie.</p>
      </div>
    </div>
    <!--Focus Areas of Site-->
    <div id="focus-areas" class="container section">
      <h2 class="text-center">Focus Areas</h2>
      <div class="row fp-card-row">
        <div class="col fp-card text-center">
          <span class="fa-stack fa-2x">
            <i class="fas fa-circle fa-stack-2x"></i>
            <i class="fas fa-database fa-stack-1x fa-inverse"></i>
          </span>
          <a href="/statistics"><h2 class="text-center">Statistics</h2></a>
          <p>View Statistics for local and US</p>
        </div><!-- /.col-lg-6 -->
        <div class="col fp-card text-center">
          <span class="fa-stack fa-2x">
            <i class="fas fa-circle fa-stack-2x"></i>
            <i class="fas fa-syringe fa-stack-1x fa-inverse"></i>
          </span>
          <a href="/vaccinations"><h2 class="text-center">Vaccinations</h2></a>
          <p>View resources for vaccinations</p>
        </div><!-- /.col-lg-6 -->
      </div>
      <div class="row fp-card-row">
        <div class="col-6 fp-card text-center">
          <span class="fa-stack fa-2x">
            <i class="fas fa-circle fa-stack-2x"></i>
            <i class="fas fa-newspaper fa-stack-1x fa-inverse"></i>
          </span>
          <a href="/news"><h2 class="text-center">News</h2></a>
          <p>View latest COVID-19 articles</p>
        </div><!-- /.col-lg-6 -->
        <div class="col-6 fp-card text-center">
          <span class="fa-stack fa-2x">
            <i class="fas fa-circle fa-stack-2x"></i>
            <i class="fas fa-question fa-stack-1x fa-inverse"></i>
          </span>
          <a href="/faq"><h2 class="text-center">FAQ</h2></a>
          <p>View Frequently Asked Questions</p>
        </div><!-- /.col-lg-4 -->
      </div>
    </div>
    <!--Current Statistics-->
    <div class="section-bg section">
      <div class="container-fluid">
        <h2 class="text-center mb-3">Current Statistics</h2>
        <div class="row">
          <div class="col-3 text-center">
            <h4 class="mb-3">Daily Confirmed Cases</h4><span class="blue"><%= dailyConfirmedCases %></span>
          </div>
          <div class="col-3 text-center">
            <h4 class="mb-3">Daily Confirmed Deaths</h4><span class="blue"><%= dailyDeaths %></span>
          </div>
          <div class="col-3 text-center">
            <h4 class="mb-3">Total Confirmed Cases</h4><span class="blue"><%= totalConfirmedCases %></span>
          </div>
          <div class="col-3 text-center">
            <h4 class="mb-3">Total Deaths</h4><span class="blue"><%= totalDeaths %></span>
          </div>
        </div>
        <p class="text-center font-weight-light font-italic text-gray mt-5">Total statistics reflect all cases in the United States as of <%= currentDate %></p>
      </div>
    </div>

    <%- include('partials/footer.ejs') %>
  </body>

  </html